<div class="testimonal-testimonal testimonal">
  <span class="testimonal-text">{{ Quote }}</span>
  <div class="testimonal-author">
    <div class="testimonal-avatar">
      <img
        [attr.alt]="Avatar_alt"
        [attr.src]="Avatar_src"
        class="testimonal-image"
      />
    </div>
    <div class="testimonal-user">
      <span class="testimonal-name">{{ Name }}</span>
      <span class="testimonal-divider">—</span>
      <span class="testimonal-from">{{ From }}</span>
    </div>
  </div>
</div>
